.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.icone-social {
  width: 30px;
  height: 30px;
}

.icone-social path {
  fill: var(--text-color);
}

.navbar-right,
.navbar-left {
  display: flex;
  flex-direction: row;
  z-index: 2;
}
.navbar-right {
  width: 50%;
  justify-content: space-between;
}
.navbar-item {
  font-size: 1.3rem;
  position: relative;
}

.navbar-social {
  font-size: 1.3rem;
  margin: 0 10px 0 10px;
}

.navbar-item,
.navbar-social {
  transform: translateY(-80px);
  animation: navbar-fall 0.3s ease-out;
  animation-fill-mode: forwards;
}

.navbar-item:nth-child(1) {
  animation-delay: 1s;
}
.navbar-item:nth-child(2) {
  animation-delay: 1.2s;
}
.navbar-item:nth-child(3) {
  animation-delay: 1.4s;
}
.navbar-item:nth-child(4) {
  animation-delay: 1.6s;
}
.navbar-social:nth-child(3) {
  animation-delay: 1.4s;
}
.navbar-social:nth-child(2) {
  animation-delay: 1.6s;
}
.navbar-social:nth-child(1) {
  animation-delay: 1.8s;
}
.navbar-item::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
  box-shadow: 0 0px 20px 2px var(--textshadow-color);
  transition: transform 250ms;
}

.navbar-item:hover::after {
  transform: translateX(-50%) scaleX(1);
}

@media screen and (max-width: 750px) {
}

.menu-responsive-container {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.menu-open {
  z-index: 1000000;
}
#menu {
  display: none;
  z-index: 1;
}
.menu-icon {
  width: 50px;
  margin: 15px;
}
.menu-responsive-container label {
  position: absolute;
  z-index: 1000001;
  right: 0;
}
.navlink-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar-responsive-item {
  font-size: 1.5rem;
  position: relative;
}

.navbar-selected::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 15%;
  width: 100%;
  height: 3px;
  background-color: var(--text-color);
  box-shadow: 0 0px 20px 2px var(--textshadow-color);
}
.navbar-responsive-item:hover {
  cursor: pointer;
}
.social-navbar-responsive {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10%;
  width: 100%;
  justify-content: center;
}
.navbar-responsive-social-item {
  font-size: 2rem;
  margin: 20px;
}
